body {
    background-color: #2a2a2a;
    color: #e7e7e7;
}

a {
    color: #e7e7e7;
}

.modeColor {
    color: #efb93a;
}

.bckColor {
    color: #2a2a2a;
}

.card, .glass {
    background-color: rgb(42,42,42)
}

#estimateBtn {
    background-color: #efb93a;
    color: #2a2a2a;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
}

.bgColor {
    background-color: #efb93a;
}